# C++ build artifacts
build/
build_out/
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.exe
*.res

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeSettings.json

# Visual Studio
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
x64/
Debug/
Release/

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Data files
*.csv
